<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>汽车租赁 ——  类别档案</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        body{
            background: url("img/asdmd.jpg") center top no-repeat;
        }
    </style>
</head>
<body>
    <!-- 导航条开始 -->
    <% include ./nav/nav.ejs %>
    <!-- 导航条结束 -->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container mb50">
                        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">增加</button>
                        <button id="bianji" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModa2">修改</button>
                        <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModa4">删除</button>
                        <button id="fanhui" type="button" class="btn btn-primary">返回</button>
                    </div>
                    <!--   Basic Table  -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>&nbsp;&nbsp;</th>
                                        <th>行号</th>
                                        <th>类别名称</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody"></tbody>
                                </table>
                            </div>
                            <div id="pagenavbox"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--创建员工模态框(Modal)-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">创建车辆</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <p>
                                编号：
                            </p>
                        </div>
                        <div class="col-md-5">
                            <p>
                                <input type="text" id="sid" class="form-control" name="sid">
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>
                                类别名称：
                            </p>
                        </div>
                        <div class="col-md-5">
                            <p>
                                <input type="text" id="name" class="form-control" name="name">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Carousel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn">ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--编辑客户模态框-->
    <div class="modal fade "  id="myModa2" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">编辑车辆</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <p>
                                行号：
                            </p>
                        </div>
                        <div class="col-md-5">
                            <p>
                                <input type="text" id="sid2" class="form-control" name="sid2" disabled>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>
                                类别名称：
                            </p>
                        </div>
                        <div class="col-md-5">
                            <p>
                                <input type="text" id="name2" class="form-control" name="name2">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Carousel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn2">ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--删除客户模态框-->
    <div class="modal fade "  id="myModa4" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    确定删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Carousel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn3">ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script type="text/javascript" src="/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/PageNav.js"></script>
    <script type="text/javascript">
        //请求一次，创建分页条
        $.get("/category1?page=1",function(data){
            console.log(data)
            //分页条
            new PageNav({
                boxid : "pagenavbox",
                page : 1,
                pageAmount : data.pageAmount,
                change : function(pagenumber){
                    gotopage(pagenumber);
                }
            });
            gotopage(1);
        });
        // 排序
        var compare = function (prop) {
            return function (obj1, obj2) {
                var val1 = obj1[prop];
                var val2 = obj2[prop];
                if (!isNaN(Number(val1)) && !isNaN(Number(val2))) {
                    val1 = Number(val1);
                    val2 = Number(val2);
                }
                if (val1 < val2) {
                    return -1;
                } else if (val1 > val2) {
                    return 1;
                } else {
                    return 0;
                }
            }
        }
        //Ajax请求，请求JSON数据
        function gotopage(pagenumber){
            //清空
            $("#tbody").empty();
            //获得新的数据
            $.get("/category1?page=" + pagenumber,function(data){
                console.log(data.results);
                var paixu =data.results.sort(compare("sid"))
                $.each(paixu ,function(i, n){
                    $tr = $("<tr></tr>");
                    $("<td><input type='radio' name='xuhao' value='"+n.sid+"' data-sid='"+n.sid+"'></td>").appendTo($tr);
                    $("<td></td>").html(n.sid).appendTo($tr);
                    $("<td></td>").html(n.name).appendTo($tr);
                    //上树
                    $tr.appendTo($("#tbody"));
                });
            });
        }
        //添加员工
        $("#btn").click(function(){
            $.post("/category",{
                sid:parseInt($("input[name=sid]").val()),
                name : $("input[name=name]").val(),
            },function(data){
                if(data.result == 1){
                    alert("提交成功！");
                    gotopage(1);
                    $("input[type=text]").val("");
                }else if(data.result == -1){
                    alert("提交失败，学号被占用！");
                }else if(data.result == -2){
                    alert("服务器错误！请联系管理员，怎么联系我也不知道！");
                }
            })
        });
        // 编辑员工
        $("#bianji").click(function () {
            $('#myModa2').modal('hide')
            var  sid = $("input[name=xuhao]:checked").val();
            if(sid==undefined){
                alert("请选中员工，再进行编辑");
                return;
            }
            $.get("/category2/" + sid,function (data) {
                console.log(data);
                $("input[name=sid2]").val(data.info.sid);
                $("input[name=name2]").val(data.info.name);
            })
        })
        //修改员工
        $("#btn2").click(function(){
            var  sid = $("input[name=xuhao]:checked").val();
            console.log(sid);
            $.post("/category2/" + sid,{
                sid:parseInt($("input[name=sid2]").val()),
                name : $("input[name=name2]").val()
            },function(data){
                if(data.result == 1){
                    gotopage(1);
                    alert("修改成功！");
                }else{
                    alert("服务器错误！请联系管理员，怎么联系我也不知道！");
                }
            })
        });
        //删除员工
        $("#btn3").click(function () {
            var sid = $("input[name=xuhao]:checked").val();
            var tr=$("input[name=xuhao]:checked").parents("tr");
            $.ajax({
                url : "/category/" + sid,
                type : "delete",
                success : function(data){
                    if(data.result == 1){
                        alert("删除成功");
                        tr.remove();
                        gotopage(1);
                    }else{
                        alert("服务器错误！");
                    }
                }
            });
        });
        //返回首页
        $("#fanhui").click(function () {
            window.location="/index"
        })
    </script>
</body>
</html>