<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>汽车租赁 ——  首页</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        body{
            background: url("img/audi.jpeg") no-repeat;
            background-size: cover;
        }
        .text{
            margin: 200px auto;
            width: 50%;
            text-align: center;
            line-height: 5;
            color: antiquewhite;
            letter-spacing: 2px;
        }
    </style>
</head>
<body>
<!-- 导航条开始 -->
<% include ./nav/nav.ejs %>
<!-- 导航条结束 -->
    <div class="text">
        <h3>欢迎进入汽车租赁系统，很高兴为您服务</h3>
        <p>请浏览上方导航栏选择您需要办理的业务</p>
    </div>
<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/PageNav.js"></script>
</body>
</html>
