@charset "utf-8";

.index_header{
    
    width: 96%;
    
    margin: 0 auto;
    
    height: 4.4rem;
    
    
    background: #fff;
    margin-top:1rem;
    
    display: flex;
    border-radius: .5rem;
    
    .hlist{
        
        flex: 1;
        text-align: center;
        padding-top: .2rem;
        border-right: 1px solid #eee;
        
        img{
            width: 2rem;
            height: 2rem;
            margin: 0 auto;
        }
        
        &:last-child{
            
            border-right: none;
        }
    }
    
    
}

/*列表*/
.item{
    
    .item_cate{
        text-align: center;
        
        padding: .5rem;
    }
    
    .item_list{
        
        display: flex;
        
        flex-wrap: wrap;
        
        padding: 0px .5rem;
        
        li{
            width: 33.3%;
            padding: .5rem;
            
            box-sizing: border-box;
            
                  
            .inner{
                
                background: #fff;                
                width: 100%;
                 border-radius: .5rem;    
                 overflow: hidden; 
                img{
                    width: 100%;
                }
                p{
                    
                    padding: .2rem .5rem;
                    
                }
                
                .title{
                    
                    font-weight: bold;
                }
                
                
            }
        }
    }
}
