
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员面板 -- 首页</title>

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/dashboard.css" rel="stylesheet">
    <link href="/public/css/jquery-accordion-menu.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <style>
        body{
            background: url(/public/images/13.jpg);
            background-size: cover;
        }
        *{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
        .filterinput{
            background-color:rgba(249, 244, 244, 0);
            border-radius:15px;
            width:90%;
            height:30px;
            border:thin solid #FFF;
            text-indent:0.5em;
            font-weight:bold;
            color:#FFF;
        }
        #demo-list a{
            overflow:hidden;
            text-overflow:ellipsis;
            -o-text-overflow:ellipsis;
            white-space:nowrap;
            width:100%;
        }
        .content{
            overflow: hidden;
            width: 300px;
            margin:10px;
            float: left;
        }
        .left{
            float: left;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background: rgba(100,50,60,.5)">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">欢迎使用酒店管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a>欢迎！<%= username %> 管理者</a></li>
                <li><a href="#" id="quit">退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="content">
    <div id="jquery-accordion-menu" class="jquery-accordion-menu red">
        <ul id="demo-list">
                    <li><a href="#">管理系统 </a>
                        <ul class="submenu">
                            <li><a href="#">入住管理</a>
                                <ul class="submenu">
                                    <li><a href="/lobby">大堂入住 </a></li>
                                    <li><a href="/check">订单入住 </a></li>
                                </ul>
                            </li>
                            <li><a href="#">退房管理 </a>
                                <ul class="submenu">
                                    <li><a href="/out">退房管理 </a></li>
                                </ul>
                            </li>
                            <li><a href="#">记录查询 </a>
                                <ul class="submenu">
                                    <li><a href="/record">入住记录查询 </a></li>
                                </ul>
                            </li>
                            <li><a href="#">房间管理 </a>
                                <ul class="submenu">
                                    <li><a href="/admin/room/find">查询房间信息</a></li>
                                    <li><a href="/admin/student/">新建房间</a></li>
                                </ul>
                            </li>
                            <li><a href="#">房类管理 </a>
                                <ul class="submenu">
                                    <li><a href="/category">房间类别管理 </a></li>
                                </ul>
                            </li>
                            <li><a href="#">修改密码 </a>
                                <ul class="submenu">
                                    <li><a href="/admin/revise">修改密码</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
    </div>
</div>
<div class="container-fluid left">
    <div class="row">
        <div class="main">
            <h1 class="page-header">欢迎使用管理后台系统！</h1>
        </div>


    </div>
</div>
<script src="/public/js/jquery-1.12.3.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery-accordion-menu.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        //顶部导航切换
        $("#demo-list li").click(function(){
            $("#demo-list li.active").removeClass("active")
            $(this).addClass("active");
        })
    })
</script>
<script type="text/javascript">

    jQuery("#jquery-accordion-menu").jqueryAccordionMenu();

</script>
<script>
    //退出登录
    $("#quit").click(function(){
        if(confirm("你确定要退出吗？")){
            $.get("/quit",function(data){
                if(data.result == 1){
                    alert("退出成功")
                    window.location = '/'
                }else{
                    alert("退出失败")
                }
            })
        }
    })
</script>
</body>
</html>
